<button type="@Type" class="@Class" disabled="@Disabled" @onclick="ToggleDisabled">
    @ChildContent
</button>

@code {

    /// <summary>
    /// Defaults to button.
    /// </summary>
    [Parameter]
    public string Type { get; set; } = "button";

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool DisableOnClick { get; set; } = false;

    [Parameter]
    public EventCallback OnClick { get; set; }


    public bool Disabled = false;


    private void ToggleDisabled()
    {
        if (DisableOnClick)
        {
            Disabled = Disabled ? false : true;

        }
        OnClick.InvokeAsync("clicked");
    }

    public void EnableButton()
    {
        Disabled = false;
        StateHasChanged();
    }

    public void DisableButton()
    {
        Disabled = true;
        StateHasChanged();
    }



}
